.folder-app-1 {
  left: 5px;
}

.folder-app-2 {
  left: 85px;
}

.folder-app-3 {
  left: 165px;
}

.folder-app-4 {
  left: 245px;
}

.folder-app-5 {
  top: 130px;
  left: 5px;
}

.folder-app-6 {
  top: 130px;
  left: 85px;
}

.folder-app-7 {
  top: 130px;
  left: 165px;
}

.folder-app-8 {
  top: 130px;
  left: 245px;
}

.folder-app-9 {
  top: 260px;
  left: 5px;
}
